<launch>
  <arg name="world_name" default="basic"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="debug" default="false"/>

  <group ns="firefly">
    <node name="tuning_nominal" pkg="gsft_control" type="tuning_nominal_node" output="screen">
       <param name="~scenario"  value="gazebo" type="str"/>
       <remap from="odometry" to="odometry_sensor1/odometry" />
    </node>
  </group>
</launch>
